:root {
    --bg: #111217;
    --main: #f9063b;
    --second: #F4F6FB;
    --box: #15171D;
    --link: #757575;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #F4F6FB;
        --second: #111217;
        --box: #FFFFFF;
    }
  }
